@page "{id}"
@model SoccerScores.WebUI.Pages.StandingsModel
@{
}

<div class="player-container">
    <h4>League</h4>
    <img src="/FC_Barcelona.svg" alt="club image" />
    <div class="matches-comp">
        <div class="matches-comp-flag" style="width:3em;height:3em;margin:0">
            <img src="" alt="flag" />
        </div>
    </div>
</div>

<div class="title-dates">
    Season <button>2020/2021</button>
</div>

<h5>Matches</h5>

@foreach (var match in Model.Matches)
{
    var result = match;

    <div class="match-container">
        <a class="match-home-team" asp-page="/Club" asp-route-id="@match">
            @match
        </a>

        @if (result is null)
        {
            <a class="match-result" asp-page="/Match" asp-route-id="@match">
                @match@*.ToString("HH:mm")*@
            </a>
        }
        else
        {
            <a class="match-result" asp-page="/Match" asp-route-id="@match">
                @(result):@(result)
            </a>
        }

        <a class="match-away-team" asp-page="/Club" asp-route-id="@match">
            @match
        </a>
    </div>
}

<h5>Standings</h5>

<div class="standings-container">
    <div></div>
    <div class="st-light">Team</div>
    <div class="st-light st-center">P</div>
    <div class="st-light st-center">W</div>
    <div class="st-light st-center">D</div>
    <div class="st-light st-center">L</div>
    <div class="st-light st-center">Pts</div>

    @{
        int position = 1;

        foreach (var club in Model.Table)
        {
            <div class="st-light st-center">@position</div>
            <a asp-page="/Club" asp-route-id="@club"><div class="st-strong">@club</div></a>
            <div class="st-light st-center">@club</div>
            <div class="st-light st-center">@club</div>
            <div class="st-light st-center">@club</div>
            <div class="st-light st-center">@club</div>
            <div class="st-strong st-center">@club</div>

            position++;
        }
    }
</div>
