@page "{id}/{slug}"
@model Scores.UI.Pages.ClubModel
@{
}

<div class="club-container">
    <img src="/FC_Barcelona.svg" alt="club image" />
    <div class="club-info">
        <h5>@Model.Club.Name</h5>
        <div class="club-info-table">
            <div class="club-info-e">Country</div>
            <div class="club-info-i">@Model.Club.Venue.City.Country</div>
            <div class="club-info-e">City</div>
            <div class="club-info-i">@Model.Club.Venue.City.Name</div>
            <div class="club-info-e">Founded</div>
            <div class="club-info-i">@Model.Club.YearFounded</div>
            <div class="club-info-e">Venue</div>
            <div class="club-info-i">@Model.Club.Venue.Name</div>
        </div>
    </div>
</div>

<div class="club-section-container">
    <h5>Matches</h5>

    @foreach (var match in Model.Matches)
    {
        var result = match.MatchInfo.FirstOrDefault(x => x.Class == "FT");
        var playingHome = match.HomeTeam.Id == Model.Club.Id ? true : false;

        <div class="match-container">
            <a class="match-home-team" asp-page="/Club" asp-route-id="@match.HomeTeam.Id" asp-route-slug="@match.HomeTeam.Slug">
                @match.HomeTeam.Name
            </a>

            @if (result is null)
            {
                <a class="match-result" asp-page="/Match" asp-route-id="@match.Id">
                    @match.KickOff.ToString("HH:mm")
                </a>
            }
            else
            {
                string resultColor;

                if (playingHome)
                {
                    resultColor = result.HomeScore > result.AwayScore ? "var(--clr-win)" : "";
                    resultColor = result.HomeScore < result.AwayScore ? "var(--clr-loss)" : resultColor;
                    resultColor = result.HomeScore == result.AwayScore ? "var(--clr-draw)" : resultColor;
                }
                else
                {
                    resultColor = result.HomeScore > result.AwayScore ? "var(--clr-loss)" : "";
                    resultColor = result.HomeScore < result.AwayScore ? "var(--clr-win)" : resultColor;
                    resultColor = result.HomeScore == result.AwayScore ? "var(--clr-draw)" : resultColor;
                }

                <a class="match-result" style="background: @resultColor" 
                    asp-page="/Match" asp-route-id="@match.Id">
                    @(result.HomeScore):@(result.AwayScore)
                </a>
            }

            <a class="match-away-team" asp-page="/Club" asp-route-id="@match.AwayTeam.Id" asp-route-slug="@match.AwayTeam.Slug">
                @match.AwayTeam.Name
            </a>
        </div>
    }

    <h5>Squad</h5>
</div>
