@page
@model IndexModel
@{
    ViewData["Title"] = "Fixtures";
}

<div class="title-dates">
    <p>Matches</p>
    <button>@DateTime.Now.ToString("MM/dd/yy")</button>
</div>

@foreach (var fixture in Model.Fixtures)
{
    <div class="matches-container">
        <div class="matches-comp">
            <div class="matches-comp-flag">
                <img src="@fixture.Tournament.Country.Flag" alt="flag" />
            </div>
            <div class="matches-comp-name">@fixture.Tournament.Name</div>
        </div>

        @foreach (var match in fixture.Matches)
        {
            var result = match.MatchInfo.FirstOrDefault(x => x.Class == "FT");

            <div class="match-container">
                <a class="match-home-team" asp-page="/Club" asp-route-id="@match.HomeTeam.Id">
                    @match.HomeTeam.Name
                </a>

                @if (result is null)
                {
                    <a class="match-result" asp-page="/Match" asp-route-id="@match.Id">
                        @match.KickOff.ToString("HH:mm")
                    </a>
                }
                else
                {
                    <a class="match-result" asp-page="/Match" asp-route-id="@match.Id">
                        @(result.HomeScore):@(result.AwayScore)
                    </a>
                }

                <a class="match-away-team" asp-page="/Club" asp-route-id="@match.AwayTeam.Id">
                    @match.AwayTeam.Name
                </a>
            </div>
        }
    </div>
}
