@page "{id}"
@model Scores.UI.Pages.MatchModel
@{
}

<div class="result-match-info">
    @Model.Match.Standings.Tournament.Name | @Model.Match.KickOff.ToString("MM/dd/yy") | KO @Model.Match.KickOff.ToString("HH:mm")
</div>

<div class="result-container">
    <div class="result-home-team">
        <img src="/FC_Barcelona.svg" alt="club image" />
    </div>
    <div class="result-ft">
        @Model.Match.Events.FirstOrDefault(x => x.Class == "FT").HomeScore - @Model.Match.Events.FirstOrDefault(x => x.Class == "FT").AwayScore
    </div>
    <div class="result-away-team">
        <img src="/Real_Madrid_CF.svg" alt="club image" />
    </div>

    <div class="result-team-name">
        @Model.Match.HomeTeam.Name
    </div>
    <div>

    </div>
    <div class="result-team-name">
        @Model.Match.AwayTeam.Name
    </div>
</div>

<div class="matches-container">
    @foreach (var evnt in Model.Match.Events.Where(x => x.Type == "Goal"))
    {
        var isPenalty = evnt.Class == "Penalty" ? " (PG)" : "";

        var homeGoal = 
            evnt.IsHome == true ? $"{evnt.PlayerA.FirstName.Substring(0, 1)}. {evnt.PlayerA.LastName}{isPenalty} {evnt.Minute}'" : "";

        var awayGoal = 
            evnt.IsHome == false ? $"{evnt.Minute}' {evnt.PlayerA.FirstName.Substring(0, 1)}. {evnt.PlayerA.LastName}{isPenalty}" : "";

        <div class="match-container">
            <div class="match-home-team">
                @homeGoal
            </div>
            <div class="match-result">@evnt.HomeScore - @evnt.AwayScore</div>
            <div class="match-away-team">
                @awayGoal
            </div>
        </div>
    }
</div>

<h5>Lineups</h5>
<div class="lineups-container">
    <div class="lineups-player">
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
    </div>
    <div class="lineups-player">
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
        <div class="squad-player">
            <div class="squad-player-number" style="background: #D6B231;">
                <span>12</span>
            </div>
            <div class="squad-player-name">
                M. ter Stegen
            </div>
        </div>
    </div>
</div>
