@page "{id}"
@model Scores.UI.Pages.MatchModel
@{
}

<a asp-page="/Standings" asp-route-id="@Model.Match.Standings.Id">
    <div class="result-match-info">
        @Model.Match.Standings.Tournament.Name | @Model.Match.KickOff.ToString("MM/dd/yy") | KO @Model.Match.KickOff.ToString("HH:mm")
    </div>
</a>

<div class="result-container">
    <a asp-page="/Club" asp-route-id="@Model.Match.HomeTeam.Id">
        <div class="result-home-team">
            <img src="/FC_Barcelona.svg" alt="club image" />
        </div>
    </a>
    <div class="result-ft">
        @Model.Match.Incidents.FirstOrDefault(x => x.Class == "FT").HomeScore - @Model.Match.Incidents.FirstOrDefault(x => x.Class == "FT").AwayScore
    </div>
    <a asp-page="/Club" asp-route-id="@Model.Match.AwayTeam.Id">
        <div class="result-away-team">
            <img src="/Real_Madrid_CF.svg" alt="club image" />
        </div>
    </a>

    <a asp-page="/Club" asp-route-id="@Model.Match.HomeTeam.Id">
        <div class="result-team-name">
            @Model.Match.HomeTeam.Name
        </div>
    </a>
    <div></div>
    <a asp-page="/Club" asp-route-id="@Model.Match.AwayTeam.Id">
        <div class="result-team-name">
            @Model.Match.AwayTeam.Name
        </div>
    </a>
</div>

<div class="matches-container">
    @foreach (var evnt in Model.Match.Incidents.Where(x => x.Type == "Goal"))
    {
        var isPenalty = evnt.Class == "Penalty" ? " (PG)" : "";

        var homeGoal =
            evnt.IsHome == true ? $"{evnt.PlayerA.FirstName.Substring(0, 1)}. {evnt.PlayerA.LastName}{isPenalty} {evnt.Minute}'" : "";

        var awayGoal =
            evnt.IsHome == false ? $"{evnt.Minute}' {evnt.PlayerA.FirstName.Substring(0, 1)}. {evnt.PlayerA.LastName}{isPenalty}" : "";

        <div class="match-container">
            <div class="match-home-team">
                @homeGoal
            </div>
            <div class="match-result">@evnt.HomeScore - @evnt.AwayScore</div>
            <div class="match-away-team">
                @awayGoal
            </div>
        </div>
    }
</div>

<h5 style="margin-bottom: 0.5em">Lineups</h5>
<div class="lineups-container">
    <div class="lineups-player">
        @foreach (var matchPlayer in Model.Lineups.Where(x => x.IsHome == true && x.IsSubstitute == false))
        {
            if (matchPlayer.Player != null)
            {
                var shirtNum = matchPlayer.Player.ShirtNumber;

                <a asp-page="/Player" asp-route-id="@matchPlayer.Player.Id">
                    <div class="squad-player">
                        <div class="squad-player-number" style="background: var(--clr-@matchPlayer.Player.Position.ToLower())">
                            <span>@shirtNum</span>
                        </div>
                        <div class="squad-player-name">
                            @(matchPlayer.Player.FirstName.Substring(0, 1)). @matchPlayer.Player.LastName
                        </div>
                    </div>
                </a>
            }
        }
    </div>
    <div class="lineups-player">
        @foreach (var matchPlayer in Model.Lineups.Where(x => x.IsHome == false && x.IsSubstitute == false))
        {
            if (matchPlayer.Player != null)
            {
                <a asp-page="/Player" asp-route-id="@matchPlayer.Player.Id">
                    <div class="squad-player">
                        <div class="squad-player-number" style="background: var(--clr-@matchPlayer.Player.Position.ToLower())">
                            <span>@matchPlayer.Player.ShirtNumber</span>
                        </div>
                        <div class="squad-player-name">
                            @(matchPlayer.Player.FirstName.Substring(0, 1)). @matchPlayer.Player.LastName
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>
<div class="lineups-substitutes" style="margin-top: 0.5em">
    Substitutes
</div>
<div class="lineups-container">
    <div class="lineups-player">
        @foreach (var matchPlayer in Model.Lineups.Where(x => x.IsHome == true && x.IsSubstitute == true))
        {
            if (matchPlayer.Player != null)
            {
                var shirtNum = matchPlayer.Player.ShirtNumber;

                <a asp-page="/Player" asp-route-id="@matchPlayer.Player.Id">
                    <div class="squad-player">
                        <div class="squad-player-number" style="background: var(--clr-gray)">
                            <span>@shirtNum</span>
                        </div>
                        <div class="squad-player-name">
                            @(matchPlayer.Player.FirstName.Substring(0, 1)). @matchPlayer.Player.LastName
                        </div>
                    </div>
                </a>
            }
        }
    </div>
    <div class="lineups-player">
        @foreach (var matchPlayer in Model.Lineups.Where(x => x.IsHome == true && x.IsSubstitute == true))
        {
            if (matchPlayer.Player != null)
            {
                var shirtNum = matchPlayer.Player.ShirtNumber;

                <a asp-page="/Player" asp-route-id="@matchPlayer.Player.Id">
                    <div class="squad-player">
                        <div class="squad-player-number" style="background: var(--clr-gray)">
                            <span>@shirtNum</span>
                        </div>
                        <div class="squad-player-name">
                            @(matchPlayer.Player.FirstName.Substring(0, 1)). @matchPlayer.Player.LastName
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>