@page "{id}"
@model Scores.UI.Pages.StandingsModel
@{
}

<div class="player-container">
    <h4>@Model.Standings.Tournament.Name</h4>
    @*<img src="/FC_Barcelona.svg" alt="club image" />*@
    <div class="matches-comp">
        <div class="matches-comp-flag" style="width:3em;height:3em;margin:0">
            <img src="@Model.Standings.Tournament.Country.Flag" alt="flag" />
        </div>
    </div>
</div>

<div class="title-dates">
    Season <button>2020/2021</button>
</div>

<h5>Matches</h5>

@foreach (var match in Model.Matches)
{
    var result = match.Events.FirstOrDefault(x => x.Class == "FT");

    <div class="match-container">
        <a class="match-home-team" asp-page="/Club" asp-route-id="@match.HomeTeam.Id">
            @match.HomeTeam.Name
        </a>

        @if (result is null)
        {
            <a class="match-result" asp-page="/Match" asp-route-id="@match.Id">
                @match.KickOff.ToString("HH:mm")
            </a>
        }
        else
        {
            <a class="match-result" asp-page="/Match" asp-route-id="@match.Id">
                @(result.HomeScore):@(result.AwayScore)
            </a>
        }

        <a class="match-away-team" asp-page="/Club" asp-route-id="@match.AwayTeam.Id">
            @match.AwayTeam.Name
        </a>
    </div>
}

<h5>Standings</h5>

<div class="standings-container">
    <div></div>
    <div class="st-light">Team</div>
    <div class="st-light st-center">P</div>
    <div class="st-light st-center">W</div>
    <div class="st-light st-center">D</div>
    <div class="st-light st-center">L</div>
    <div class="st-light st-center">Pts</div>

    <div class="st-light st-center">1</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">2</div>
    <div class="st-strong">Real Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">3</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>

    <div class="st-light st-center">4</div>
    <div class="st-strong">Atletico Madrid</div>
    <div class="st-light st-center">15</div>
    <div class="st-light st-center">12</div>
    <div class="st-light st-center">2</div>
    <div class="st-light st-center">1</div>
    <div class="st-strong st-center">38</div>
</div>
